# Email usado para o Let's Encrypt
ACME_EMAIL=admin@example.com

# O domínio que a api vai responder
API_DOMAIN=api.example.com

# URL da API
API_BASE_URL=https://api.example.com

# Usuário e senha para o Grafana
GRAFANA_USER=admin
GRAFANA_PASSWD=change-me

# Estou fazendo bind do Grafana para o WireGuard
GRAFANA_BIND_IP=10.100.0.2
GRAFANA_BIND_PORT=3000
